body{font-weight:400;line-height:1.33;font-family:"Arial",sans-serif;overflow-x:hidden;background:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a,a:hover,a:active{outline:none;text-decoration:none}li{list-style:none}body#tinymce{background-image:none}
