	/**
	*
	* 		THEME: Colony Digital
	*			- This is the "Login" page for teh website, branded for Colony
	*
	**/
	[data-author="Colony Digital"] {
		display:inline-block;
		align-items:center;
		text-decoration:none;
		color:currentColor;
		font-weight:normal;

		&:hover {
			color:currentColor;
			opacity: 1;

			svg {
				opacity:1;
				transition:all 0.3s ease;
			}
		}

		svg {
			opacity:0.7;
			fill:white;
			transform:translateY(4px);
		}
	}