
	/**
	*
	* 		BUTTONS
	*			- Add any button styles in here.
	* 			- Below is grouped into a buttons list but the .button is also accessible directly
	*
	**/
	
	.buttons {

		//Single Button
		.button {

			//Small Button
			&.small {

			}

			//Large Button
			&.large {

			}

		}

	}

	//Clone the styles
	.button {
		@extend .buttons .button
	}
