
	/**
	*
	* 		FORMS
	*			- Form Styles should go in here
	*
	**/

	.gform_confirmation_wrapper {

		//After Submitting, 
		//the form disappears and the content is wrapped in this field

	}

	.gform_wrapper {

		.validation_error {

			//Error that appears above the form
		
		}

	}
