
	/**
	*
	* 		CONFOG
	*			- Site Config styles for the site
	*
	**/
		
	//Fonts
	$fonts: 		(
		'mainfont': 		('Arial', sans-serif)
	);

	//Colors
	$colors: 		(
		"brand": 		#FFF
	);

	//Primary Styles
	$primary: 	(
		font-weight: 				400,
		line-height:				1.33,
		font-family: 				map-get($fonts, 'mainfont'),
		overflow-x: 				hidden,
		background: 				#fff,
		-webkit-font-smoothing: 	antialiased,
		-moz-osx-font-smoothing: 	grayscale,
		-webkit-text-size-adjust: 	100%,
		-ms-text-size-adjust: 		100%
	);